* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(45deg, #3a6186, #89253e);
  background-attachment: fixed;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 40em) {
  html {
    font-size: 45%;
  }
}
.header {
  background-color: rgba(33, 37, 41, 0.8470588235);
  padding: 1rem 8rem;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation .navigation__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 600;
}
.header__navigation .navigation__logo p {
  font-weight: 500;
  color: #f1f3f5;
  letter-spacing: 1.1px;
}
.header__navigation .navigation__logo span {
  margin-left: 0.1rem;
  color: #69db7c;
}
.header .form {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-5%);
  width: 100%;
  gap: 1rem;
  position: relative;
}
.header .form input {
  display: inline-block;
  width: 50%;
  padding: 0 1.8rem;
  height: 3.4rem;
  transform: translate(50, -50);
  border: 2px solid #dee2e6;
  outline: none;
  border-radius: 14px;
  font-family: "Roboto";
  background-color: rgba(51, 51, 51, 0.219);
  color: #dee2e6;
}
.header .form button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  padding: 0.9rem;
  position: absolute;
  right: 25.5%;
  cursor: pointer;
}
.header .form button i {
  font-size: 1.8rem;
  color: #dee2e6;
}
.header .header__navigation__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  list-style: none;
}
.header .header__navigation__list__item {
  font-size: 2.4rem;
  font-weight: 700;
  color: rgba(222, 226, 230, 0.2745098039);
  cursor: not-allowed;
}
.header .header__navigation__list__item i {
  padding: 1.2rem;
  background-color: #495057;
  color: #dee2e6;
  border-radius: 50%;
}

@media only screen and (max-width: 75em) {
  .header .form button {
    right: 25.5%;
  }
  .header .form button i {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 40em) {
  .header .form input {
    width: 70%;
  }
  .header .form button {
    right: 16%;
  }
}
@media only screen and (max-width: 43.75em) {
  .header {
    padding: 1rem 1rem;
  }
  .header__navigation span {
    font-size: 2.8rem;
  }
  .header__navigation__list__item {
    font-size: 1.8rem !important;
  }
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 3.4rem;
}

.movie-card {
  width: 30rem;
  margin: 3.8rem;
  border-radius: 8px;
  background-color: #343a40;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
}
.movie-card img {
  width: 100%;
}
.movie-card__info {
  margin: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1.3px;
  color: #dee2e6;
}
.movie-card span {
  padding: 0.8rem;
  background-color: #495057;
  border-radius: 4px;
}
.movie-card .green {
  color: rgb(6, 194, 6);
}
.movie-card .orange {
  color: orange;
}
.movie-card .red {
  color: red;
}
.movie-card__overview {
  position: absolute;
  padding: 1.4rem;
  text-align: justify;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e9ecef;
  color: #212529;
  font-size: 1.6rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}
.movie-card__overview h3 {
  margin: 1.4rem 0;
}

.movie-card:hover .movie-card__overview {
  transform: translateY(0);
}

footer {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}/*# sourceMappingURL=style.css.map */