.header {
  background-color: #21252993;
  padding: 1rem 8rem;

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      width: 3.5%;
      padding: 0.3rem;
      filter: invert(100%);
      cursor: pointer;
    }
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;

    input {
      display: inline-block;
      width: 50%;
      padding: 0 1.8rem;
      height: 3.4rem;
      transform: translate(50, -50);
      border: 2px solid #dee2e6;
      outline: none;
      border-radius: 14px;
      font-family: "Roboto";
      background-color: rgba(51, 51, 51, 0.219);
      color: #dee2e6;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.9rem;
      border-radius: 100%;
      border: 2px solid #dee2e6;
      background-color: #343a40;
      cursor: pointer;

      i {
        font-size: 1.8rem;
        color: #dee2e6;
      }
    }
  }

  .header__navigation__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    list-style: none;

    &__item {
      font-size: 2.4rem;
      font-weight: 700;
      color: #dee2e646;
      cursor: not-allowed;

      i {
        padding: 1.8rem;
        background-color: #495057;
        color: #dee2e6;
        border-radius: 50%;
      }
    }
  }
}
