.header {
  background-color: #212529d8;
  padding: 1rem 8rem;

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      width: 6rem;
      padding: 0.3rem;
      filter: invert(100%);
      cursor: pointer;
    }

    span {
      margin-top: 1.4rem;
      margin-left: 0.2rem;
      font-size: 2.8rem;
      font-weight: 600;
      color: #ff922b;
    }
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;

    input {
      display: inline-block;
      width: 50%;
      padding: 0 1.8rem;
      height: 3.4rem;
      transform: translate(50, -50);
      border: 2px solid #dee2e6;
      outline: none;
      border-radius: 14px;
      font-family: "Roboto";
      background-color: rgba(51, 51, 51, 0.219);
      color: #dee2e6;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background: transparent;
      padding: 0.9rem;
      cursor: pointer;

      i {
        font-size: 1.8rem;
        color: #dee2e6;
      }
    }
  }

  .header__navigation__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    list-style: none;

    &__item {
      font-size: 2.4rem;
      font-weight: 700;
      color: #dee2e646;
      cursor: not-allowed;

      i {
        padding: 1.2rem;
        background-color: #495057;
        color: #dee2e6;
        border-radius: 50%;
      }
    }
  }
}

@media only screen and (max-width: 75em) {
  .header {
    .form {
      input {
        width: 70%;
      }
    }
  }
}

@media only screen and (max-width: 43.75em) {
  .header {
    padding: 1rem 1rem;

    &__navigation {
      &__logo {
        width: 4rem;
      }
      span {
        font-size: 2rem;
        margin-top: 1rem;
      }
    }
  }

  .header__navigation__list {
    &__item {
      font-size: 1.8rem !important;
    }
  }
} ;
